ul.todo_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.todo_list li {
    display: block;
    margin: 0;
    padding: 7px 0;
    border-top: 1px solid #eee;
}

ul.todo_list li p {
    display: inline;
}

ul.todo_list li p.link {
    font-weight: bold;
}

ul.todo_list li p.details {
    font-style: italic;
}

ul.todo_list li {
}

div.admonition {
    border: 1px solid #FF6666;
}

div.admonition p.admonition-title {
    background-color: #FF6666;
    border-bottom: 1px solid #FF6666;
}

em {
    font-style: normal;
}

table.docutils {
	font-size: 11px;
}

.tweet_list li {
    margin-bottom: 10px;
}

.tweet_list li .tweet_avatar {
    float: left;
}
