dumb-init
python-memcached
pymemcache
jaeger-client

git+https://github.com/sapcc/raven-python.git@ccloud#egg=raven
git+https://github.com/sapcc/openstack-watcher-middleware.git#egg=watcher-middleware
git+https://github.com/sapcc/openstack-audit-middleware.git#egg=audit-middleware
git+https://github.com/sapcc/osprofiler.git@stable/queens-m3#egg=osprofiler