// openstack-nova libvirt management permissions

polkit.addRule(function(action, subject) {
    if (action.id == "org.libvirt.unix.manage" &&
        subject.user == "nova") {
        return polkit.Result.YES;
    }
});
