[Unit]
Description=OpenStack Nova Network Server
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=all
TimeoutStartSec=0
Restart=always
User=nova
ExecStart=/usr/bin/nova-network

# Don't kill dnsmasq on shutdown (#805947)
KillMode=process

[Install]
WantedBy=multi-user.target

