[Unit]
Description=OpenStack Nova Spice HTML5 Proxy Server
After=syslog.target network.target

[Service]
Type=simple
User=nova
ExecStart=/usr/bin/nova-spicehtml5proxy
Restart=on-failure

[Install]
WantedBy=multi-user.target

