hacking>=0.8.0,<0.9
coverage>=3.6
discover
feedparser
fixtures>=0.3.14
mock>=1.0
mox>=0.5.3
MySQL-python
psycopg2
pylint==0.25.2
python-subunit>=0.0.18
sphinx>=1.1.2,<1.2
oslosphinx
testrepository>=0.0.18
testtools>=0.9.34
