# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.

hacking>=3.1.0,<3.2.0 # Apache-2.0
mypy>=0.761 # MIT
coverage!=4.4,>=4.0 # Apache-2.0
ddt>=1.2.1 # MIT
fixtures>=3.0.0 # Apache-2.0/BSD
mock>=3.0.0 # BSD
psycopg2>=2.8 # LGPL/ZPL
PyMySQL>=0.8.0 # MIT License
python-barbicanclient>=4.5.2 # Apache-2.0
python-ironicclient>=3.0.0 # Apache-2.0
requests-mock>=1.2.0 # Apache-2.0
oslotest>=3.8.0 # Apache-2.0
stestr>=2.0.0 # Apache-2.0
osprofiler>=1.4.0 # Apache-2.0
testresources>=2.0.0 # Apache-2.0/BSD
testscenarios>=0.4 # Apache-2.0/BSD
testtools>=2.2.0 # MIT
bandit>=1.1.0 # Apache-2.0
gabbi>=1.35.0 # Apache-2.0
wsgi-intercept>=1.7.0 # MIT License

# vmwareapi driver specific dependencies
oslo.vmware>=2.17.0 # Apache-2.0
