[keystone_authtoken]

#
# Options defined in keystoneclient's authtoken middleware
#

# Host providing the admin Identity API endpoint
auth_host = 127.0.0.1

# Port of the admin Identity API endpoint
auth_port = 35357

# Protocol of the admin Identity API endpoint
auth_protocol = http

# Keystone service account tenant name to validate user tokens
admin_tenant_name = %SERVICE_TENANT_NAME%

# Keystone account username
admin_user = %SERVICE_USER%

# Keystone account password
admin_password = %SERVICE_PASSWORD%

# Directory used to cache files related to PKI tokens
# signing_dir is configurable, but the default behavior of the authtoken
# middleware should be sufficient.  It will create a temporary directory
# in the home directory for the user the nova process is running as.
#signing_dir = /var/lib/nova/keystone-signing

# API version of the admin Identity API endpoint
# Workaround for https://bugs.launchpad.net/nova/+bug/1154809
auth_version = v2.0
